@import "tailwindcss";
@theme{
    --color-background:#CBC5B5;
    --color-primary:#FFFF23;
    --color-secondary:#BFBAAB;
    --color-menu-background:#DBDBC8;

   
}
@layer base{
    body{
        background-color:var(--color-background);
        margin:0;
    }
}
@layer components{
    .flex-center {@apply flex justify-center items-center}
}
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll {
    animation: scroll 25s linear infinite;
    display: flex;
  
    width:max-content;
  }
  
  /* Pause when user hovers over it */
  .animate-scroll:hover {
    animation-play-state: paused;
  }