@import "tailwindcss";
@theme{
    --color-background:#CBC5B5;
    --color-primary:#FFFF23;
    --color-secondary:#BFBAAB;
    --color-menu-background:#DBDBC8;
    
   
}
@layer base{
    body{
        background-color:var(--color-background);
        margin:0;
    }
}
@layer components{
    .flex-center {@apply flex justify-center items-center}
}